// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$body-color: #494d4f;

$primary: #619fcb;
$secondary: #494d4f;
$danger: #ff5630;
$success: #36b37e;
$info: #167ffc;

$enable-negative-margins: true;
$enable-validation-icons: false;
$input-btn-padding-x: 16px;

$unity-blue: #619fcb;
$unity-iron: #494d4f;
$unity-light: #f3f3f4;



// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

/*
$dropdown-link-active-color: $karely-pink;
$dropdown-link-active-bg: $white;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);
*/

$grid-breakpoints: (
	xs: 0,
	sm: 1px,
	md: 2px,
	lg: 3px,
	xl: 1200px,
	xxl: 1400px
);

$input-placeholder-color: $gray-400; 

// Create your own map
$custom-colors: (
	"unity-iron": $unity-iron,
	"unity-light": $unity-light,
	"unity-blue": $unity-blue,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here

// Layout & components
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

.btn-primary {
	@include button-variant(
		$background: $primary, 
		$border: $primary, 
		$color: $white, 
  		$hover-color: $white,
  		$active-color: $white,
  		$disabled-color: $white 
	);
}

.btn-outline-primary {
	@include button-outline-variant(
  		$color: $primary,
		$color-hover: $white,
		$active-background: $primary,
		$active-border: $primary,
		$active-color: $white 
	);
}


.btn-unity {
	--bs-btn-font-weight: 500;
	--bs-btn-font-size: 14px;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-border-radius: 0.5rem;
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #304f65;
	--bs-btn-hover-border-color: #304f65;
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #304f65;
	--bs-btn-active-border-color: #304f65;

	--bs-btn-disabled-border-color: #dcddde;
	--bs-btn-disabled-color: #b4b5b7;
    	--bs-btn-disabled-bg: #dcddde;
}

.btn-outline-unity {
	--bs-btn-font-weight: 500;
	--bs-btn-font-size: 14px;
	--bs-btn-color: var(--bs-body-color);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: var(--bs-body-color);
	--bs-btn-border-radius: 0.5rem;

	--bs-btn-hover-color: var(--bs-body-color);
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: #304f65;
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: transparent;
	--bs-btn-active-border-color: #88b7db;

	--bs-btn-disabled-border-color: #d1d2d3;
	--bs-btn-disabled-color: #b4b5b7;
    	--bs-btn-disabled-bg: transparent;
}

.btn-ghost-unity {
	--bs-btn-font-weight: 500;
	--bs-btn-font-size: 14px;
	--bs-btn-color: var(--bs-body-color);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: 0.5rem;

	--bs-btn-hover-color: var(--bs-body-color);
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: #304f65;
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: transparent;
	--bs-btn-active-border-color: #88b7db;

	--bs-btn-disabled-border-color: #d1d2d3;
	--bs-btn-disabled-color: #b4b5b7;
    	--bs-btn-disabled-bg: transparent;
}

.btn-outline-unity:hover,
.btn-outline-unity.active,
.btn-ghost-unity:hover,
.btn-ghost-unity.active {
	box-shadow: inset 0px 4px 8px #24262729;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans_Condensed-Light.ttf);
	font-weight: lighter;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-ExtraBold.ttf);
	font-weight: bolder;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Italic.ttf);
	font-style: italic;
}

@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Regular.ttf);
}

$font-stack: OpenSans;

body {
	font-family: $font-stack;
}

