.my-sidebar {
    z-index: 1025;
    overflow: hidden;
    background-color: white;
    height: 100vh;
    width: 78px;

    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px #24262729;
    border-radius: 0px 16px 16px 0px;

    display: flex;
    flex-direction: column;

    color: #76797B;
    font-size: 14px;
}

.my-sidebar.long-mode {
    width: 250px;
}

.my-sidebar .my-title {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.my-sidebar .my-toggle {
    font-size: 12px;
    color: #494d4f;
}

.my-sidebar .long-mode-label {
    display: none;
}

.long-mode .long-mode-label {
    display: inline;
}

.long-mode .my-dropdown-content {
    left: 240px;
}

.long-mode .my-title {
    justify-content: space-between;
    align-items: center;
}

.my-primary-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.my-secondary-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-sidebar .my-link {
    width: 48px;
    height: 48px;
    text-align: left;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    color: #76797B;
}

.long-mode .my-link {
    width: 224px;
    height: 45px;
    justify-content: left;
    padding: 8px;
}

.my-dropdown {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.my-dropdown .my-dropdown-button {
    border: none;
    outline: none;

    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;

    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    color: #494d4f;
}

.long-mode .my-dropdown-button {
    width: 208px;
    height: 48px;
    justify-content: left;
    padding-left: 16px;
}

.my-dropdown-content {
    display: none;
    min-width: 160px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 78px;

    height: 100vh;
    width: 248px;
    background-color: white;
    box-shadow: 0px 2px 4px #24262729;
    border-radius: 0px 16px 16px 0px;

    padding: 24px;
    overflow: auto;
}

.my-dropdown-content .my-link-2 {
    text-decoration: none;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: left;

    border-radius: 8px;
    padding-left: 8px;
    width: 200px;
    height: 48px;

    font-size: 12px;
    color: #76797B;
}

.my-dropdown-content .my-link-3 {
    text-decoration: none;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: left;

    border-radius: 8px;
    padding-left: 16px;
    width: 200px;
    height: 48px;

    font-size: 12px;
    color: #76797B;
}

.my-sidebar .my-link:hover,
.my-sidebar .my-dropdown-button:hover {
    background-color: #f3f3f4;
}

.my-dropdown-content .my-link-2:hover {
    background-color: #f3f3f4;
}

.my-dropdown-content .my-link-3:hover {
    background-color: #f3f3f4;
}

.my-dropdown:hover .my-dropdown-content {
    display: block;
}

.my-sidebar .my-link.active,
.my-sidebar .my-dropdown-button.active {
    background-color: #619fcb;
    color: #ffffff;
}

.my-dropdown-content .my-link-2.active {
    background-color: #619fcb;
    color: #ffffff;
}

.my-dropdown-content .my-link-3.active {
    background-color: #619fcb;
    color: #ffffff;
}

.my-divider {
    border-top: 1px solid #dcddde;
    width: 100%;
}

.my-title-1 {
    font-weight: 600;
    color: #242627;
}

.my-title-2 {
    font-weight: 500;
    font-size: 12px;
    color: #76797B;
}

/* new */

.short-mode-label {
    font-size: 10px;
    font-weight: 400;
    color: #76797B;
    text-align: center;
}

.short-mode-label.active {
    color: #619fcb;
}

/* SubMenu css */

/* .my-submenu-items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
  
.my-submenu-items.open {
    max-height: 300px; 
}
  
.submenu-icon {
    margin-left: auto;
    transition: transform 0.2s;
}
  
.submenu-open .submenu-icon {
    transform: rotate(180deg);
} */

.my-submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .my-link {
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    color: #76797B;
    transition: background 0.3s ease;
  }
  
  .my-link.submenu-open {
    background-color: #619FCB;
    color: white;
  }
  
  .my-link .material-icons-outlined {
    font-size: 24px;
  }
  
  .submenu-icon {
    margin-left: auto;
    font-size: 16px;
  }
  
  /* Submenu items container */
  .my-submenu-items {
    padding-left: 8px;
    /* border-left: 1px solid #e0e0e0; */
    margin-top: 5px;
    display: none;
  }
  
  .my-submenu-items.open {
    display: block;
  }
  
  /* Individual submenu link */
  .my-submenu-link {
    padding: 8px 12px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .my-submenu-link:hover {
    background-color: #f3f3f4;
  }
  
  .my-submenu-link.active {
    font-weight: 600;
    color: #2b7cbf;
  }

  .long-mode .my-link1 {
    display: flex;
    width: 224px;
    height: 45px;
    justify-content: space-between;
    padding: 8px;
}

/* tree */

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }

  li {
    list-style-type: none;
    border-left: 1px solid #EAECF0;
    margin-left: 1em;
  }

  li div,
  li details {
    padding-left: 1em;
    position: relative;
    font-size: 14px;
  }

  .my-label {
    min-width: 100%;
    display: inline-block;
    padding: 8px 6px;
  }

  li div>.my-label:hover,
  li details>summary:hover {
    background-color: #f5f5f5;
    border-radius: 8px;
  }

  li div::before,
  li details::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;

    xxx-bottom: 50%;
    height: 1.3em;

    width: 0.95em;
    border: 1px solid #EAECF0;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-end-start-radius: 8px;
  }

  ul>li:last-child {
    border-left: 1px solid transparent;
  }


  summary {
    list-style: none;
  }

  summary::after {
    content: '';
    /* Set the font for this icon style */
    font-family: 'Font Awesome 6 Free';
    /* Set the weight for this icon style */
    font-weight: 900;
    /* Make sure icons render pixel-perfect */
    -webkit-font-smoothing: antialiased;
    content: "\f104";
    margin-left: 16px;
  }

  details[open]>summary::after {
    content: '';
    content: "\f107";
  }

  .short-mode-center {
    display: contents;
  }

  .pt-8 {
    padding-top: 8px;
  }

  .pb-8 {
    padding-bottom: 8px;
  }


